{% extends 'donor_home.html' %}
{% load static %}
{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Donate Now</h5>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data" name="DonationForm">
                {% csrf_token %}
                <div class="col-sm-12">
                    <label for="donationName">Donation Name <span style="color: red;">(Note: If you select 'Other', please mention details in the description field)</span></label>
                    <select class="form-control" id="donationName" name="donationname" required>
                        <option value="">Select Donation Type</option>
                        <option value="Food Donation">Food Donation</option>
                        <option value="Cloth Donation">Cloth Donation</option>
                        <option value="Footwear Donation">Footwear Donation</option>
                        <option value="Books Donation">Books Donation</option>
                        <option value="Furniture Donation">Furniture Donation</option>
                        <option value="Vessel Donation">Vessel Donation</option>
                        <option value="Toy Donation">Toy Donation</option>
                        <option value="Other">Other</option>
                    </select>
                </div>

                <div class="col-sm-12">
                    <label for="donationpic">Donation Image</label>
                    <input type="file" name="donationpic" class="form-control" required>
                </div>

                <div class="col-sm-12">
                    <label for="collectionloc">Donation Collection Address</label>
                    <textarea name="collectionloc" class="form-control" placeholder="Enter Full Address" required></textarea>
                </div>

                <div class="col-sm-12">
                    <label for="description">Description (Special Note)</label>
                    <textarea name="description" class="form-control" placeholder="Special Note for Donation" required></textarea>
                    <input type="submit" value="Donate Happiness" class="btn btn-danger btn-sm px-3 mt-3">
                </div>
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Donation Collection Request Has Been Sent. We Will contact you soon');
    window.location.href = "{% url 'donation_history' %}";  
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong. Please try again');
</script>
{% endif %}

<script>
    window.onload = function() {
        document.forms["DonationForm"].reset();
    }
</script>

{% endblock %}
