


{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Include Bootstrap CSS (choose one version) -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Include jQuery and Bootstrap JS (choose one version) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <!-- Include FontAwesome 5 JavaScript and CSS -->
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
       
<!-- ------------table style-----html          -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

        <!-- ----------- -->
        <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
        <script src="{% static 'js/sidebar.js' %}"></script>
        
        <title>Donor</title>
    </head>

    
    
<body>

    <div class="bg-white vertical-nav" id="sidebar">
    <div class="py-4 px-3 bg-light mb-1">
        <h2 class="font-weight-bold text-uppercase ">Donation</h2>
    <br>
        <div class="media d-flex align-items-center">
            <img src="{{request.user.donor_set.all.0.userpic.url}}" width="100" height="100" class="mr-3 rounded-circle img-thumbnail shadow-sm">

            <div class="media-body">
                <h4 class="mb-0">Donor</h4>
                <p class="mb-0">{{ request.user.username }}</p>
            </div>
        </div>
    

        <ul class="nav flex-column mt-5">
            <li class="nav-item mb-3">
                <a href="{% url 'donor_home' %}" class="nav-link text-dark bg-light d-flex align-items-center">
                    <i class="fas fa-home" style="font-size:24px;"></i>
                    <span class="ml-2">Dashboard</span>
                </a>
            </li>
        
            <li class="nav-item mb-3">
                <a href="{% url 'donate_now' %}" class="nav-link text-dark bg-light d-flex align-items-center">
                    <i class="fas fa-donate" style="font-size:24px;"></i>
                    <span class="ml-2">Donate Now</span>
                </a>
            </li>
        
            <li class="nav-item mb-3">
                <a href="{% url 'donation_history' %}" class="nav-link text-dark bg-light d-flex align-items-center">
                    <i class="fas fa-history" style="font-size:24px;"></i>
                    <span class="ml-2">Donation History</span>
                </a>
            </li>

            <li class="nav-item mb-3">
                <a href="{% url 'logout' %}" class="nav-link text-dark bg-light d-flex align-items-center">
                    <i class="fas fa-sign-out-alt" style="font-size:24px;"></i>
                    <span class="ml-2">Logout</span>
                </a>
            </li>
        </ul>
        
    </div>
  </div>
 
  <!-- Content start -->
   <div class="page content p-4" id="content">
   
    <a href="{% url 'logout' %}" title="Logout" class="float-right">
        <i class="fas fa-sign-out-alt" style="font-size: 24px; color:white;"></i>
    </a>
    


    <button id="sidebarCollapse" type="button" class="btn btn-dark rounded-pill shadow-sm px-4 mb-4">
        <i class="fas fa-bars fa-lg"></i>
        <span class="font-weight-bold"></span>
    </button>
    
 


    {% block content %}


    {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  
  <!-- Initialize DataTable -->
  <script>
      $(document).ready(function() {
          $('#example').DataTable( {
              dom: 'Bfrtip',
              buttons: [
                  'copyHtml5',
                  'excelHtml5',
                  'csvHtml5',
                  'pdfHtml5'
              ]
          } );
      });
  </script>
  
</body>
</html>









