{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">New Donation Request List</h5>
        <div class="container-fluid">
            <table id="example" class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th>Donation Area Name</th>
                        <th>creation date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in area %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.areaname }}</td>
                        <td>{{ i.creationdate }}</td>
                        <td><a href="{% url 'edit_area' i.id %}">view details </a> ||
                        <a href="{% url 'delete_area' i.id %}" onclick="return confirm('Are You Sure?')" class="text-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
