{% extends 'volunteer_base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Change Password</h5>
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="old_password" class="form-control" placeholder="Enter current password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="new_password1" class="form-control" placeholder="Enter new password" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="new_password2" class="form-control" placeholder="Confirm new password" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error %}
<script>
    alert('{{ error }}');
</script>
{% endif %}

{% endblock %}
