{% extends 'volunteer_base.html' %}

{% block content %}




<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange ;">Create an Account (Volunteer)</h5>
        <div class="container-fluid">
           
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}    
                <div class="form-row">
                <div class="col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="firstname" class="form-control" placeholder="Enter your First Name"  pattern="[A-Za-z]+" value="{{volunteer.user.first_name}}">
                </div>
                </div>
            
                <div class="col-sm-6">
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text"  class="form-control" name="lastname" class="form-control" placeholder="Enter Last Name"  pattern="[A-Za-z]+"  value="{{volunteer.user.last_name}}">
                </div>
                </div>
        
                <div class="col-sm-6">
                <div class="form-group">
                    <label>Email ID</label>
                    <input type="email"  class="form-control" name="email" class="form-control" placeholder="Email Address"   value="{{volunteer.user.username}}" readonly>
                </div>
                </div>
      
                <div class="col-sm-6">
                 <div class="form-group">
                    <label for="firstname">Contact</label>
                    <input type="text"  class="form-control" name="contact" class="form-control" placeholder="Contact Number"   value="{{volunteer.contact}}">
                </div>
                </div>
            
               
    
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>User Pic</label>
                        <input type="file" name="userpic" class="form-control" >
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label>User Pic</label>
                        <img src="{{volunteer.userpic.url}}" width="100" height="100" alt="not availble">
                    </div>
                </div>
    
    
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Id Proof PIC(AADHAR ID ,VOTER ID ,PAN CARD)</label>
                        <input type="file" name="idpic" class="form-control" >
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Id Proof PIC(AADHAR ID ,VOTER ID ,PAN CARD)</label>
                        <img src="{{volunteer.idpic.url}}" width="100" height="100" alt="not availble">
                    </div>
                </div>
                
                
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="address" class="form-control" placeholder="Full Address" >{{volunteer.address}}</textarea>
                    </div>
                </div>
    
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>About YourSelf</label>
                        <textarea name="aboutme" class="form-control" placeholder="about Yourself" >{{volunteer.aboutme}}</textarea>
                    </div>
                </div>
    
    
    <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
    
    </form>
    </div>
    </div>
    </div>
    


    


{% if error == "no" %}
    <script>
        alert('Update successfull');
        window.location.href = "{% url 'profile_volunteer' %}";
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert('Something went wrong, please try again.');
    </script>


    {% endif %}
    

{% endblock %}