{% extends 'admin_base.html' %}
{% load static %}
{% block content %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">View Volunteer Detail</h5>
        <div class="container-fluid">
           
            <table class="table table-bordered">
                <tr class="text-center">
                    <td colspan="4" style="font-size: 20px; color: red;">Volunteer Details</td>
                </tr>

                <tr>
                    <th>Volunteer Name</th>
                    <td>{{ volunteer.user.first_name }} {{ volunteer.user.last_name }}</td>
                    <th>Contact Number</th>
                    <td>{{ volunteer.contact }}</td>

                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ volunteer.user.username }}</td>
                    <th>Regitration Date</th>
                    <td>{{ volunteer.regdate }}</td>
                </tr>
                <tr>
                    <th>Volunteer PIC</th>
                    <td><img src="{{ volunteer.userpic.url }}" width="50px" height="50px"></td>
                    <th>ID CARD PIC</th>
                    <td><img src="{{ volunteer.idpic.url }}" width="50px" height="50px"></td>
                </tr>
                <tr>
            
                    <th>Address</th>
                    <td colspan="3">{{ volunteer.address }}</td>
                </tr>
                <tr>
                    <th>About Yourself</th>
                    <td colspan="3">{{ volunteer.aboutme }}</td>
                </tr>

                {% if volunteer.status == "pending" %}
                <form method="post">
                    {% csrf_token %} 
                    <tr>
                        <th>Status</th>
                        <td colspan="3">
                            <select name="status" class="form-control" required>
                                <option value="accept">Accept</option>
                                <option value="reject">Reject</option>
                            </select>
                        </td>
                    </tr>
            
                    <tr>
                        <th>Admin Remark</th>
                        <td colspan="3">
                            <textarea name="adminremark" class="form-control" required></textarea>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td colspan="3">
                            <button type="submit" class="btn btn-primary">Update <i class="fa fa-arrow-circle-right"></i></button>
                        </td>
                    </tr>
                </form>

                {% else %}
                <tr>
                    <th>Status</th>
                    <td style="text-transform: capitalize">{{ volunteer.status }}</td>
                    <th>Updation date</th>
                    <td>{{ volunteer.updationdate }}</td>
                </tr>

                <tr>
                    <th>Admin Remark</th>
                    <td colspan="3">{{ volunteer.adminremark }}</td>
                </tr>

                {% endif %}
            </table>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Status & remark have been updated successfully');
    window.location = ("{% url 'view_volunteerdetail' volunteer.id %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong, please try again.');
</script>
{% endif %}

{% endblock %}
