{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange">View Donation Detail</h5>
        <div class="container-fluid">
           
            <table class="table table-bordered">
                <tr class="text-center">
                    <td colspan="4" style="font-size: 20px; color: red;">Donor Details</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ donation.donor.user.username }}</td>
                    <th>Donor Name</th>
                    <td>{{ donation.donor.user.first_name }} {{ donation.donor.user.last_name }}</td>
                </tr>
                <tr>
                    <th>Donor Contact</th>
                    <td>{{ donation.donor.contact }}</td>
                    <th>Donor Pic</th>
                    <td><img src="{{ donation.donor.userpic.url }}" width="50px" height="50px"></td>

                    <tr class="text-center">
                        <td colspan="4" style="font-size: 20px; color: red;">Donation Details</td>
                    </tr>

                    <tr>
                        <th>Donation Name</th>
                        <td>{{ donation.donationname }}</td>
                        <th>Donotion PIC</th>
                        <td><img src="{{ donation.donationpic.url }}" width="50px" height="50px"></td>                    </tr>
                    </tr>
                    <tr>
                    <th>Collection loc</th>
                    <td>{{ donation.collectionloc }}</td>
                    <th>Donotion Date</th>
                    <td>{{ donation.donationdate}}</td>
                    </tr>

                    {% if donation.status == "pending" %}
                    <form method="post">
                        {% csrf_token %} 
                    <tr>
                        <th>Status</th>
                        <td colspan="3">
                            <select name="status" class="form-control" required>
                                <option value="accept">Accept</option>
                                <option value="reject">Reject</option>
                            </select>
                        </td>
                    </tr>
            
                    <tr>
                        <th>Admin Remark</th>
                        <td colspan="3">
                        <textarea name="adminremark" class="form-control" required></textarea>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td colspan="3">
                            <button type="submit" class="btn btn-primary">Update<i class="fa fa-arrow-circle-right"></i></button>
                        </td>
                    </tr>
                    

                </form>

                  

                    {% else %}
                    <tr>
                        <th>Status</th>
                        <td>{{donation.status}}</td>
                        <th>Updation date</th>
                        <td>{{donation.updationdate}}</td>
                    </tr>

                    <tr>
                        <th>Admin Remark</th>
                        <td colspan="3">{{donation.adminremark}}</td>
                    </tr>

                
                    {% endif %}


            </table>
        </div>
    </div>
</div>





{% if error == "no" %}
    <script>
        alert('Status & remark has Been Update successfully');
        window.location = ("{% url 'view_donationdetail' donation.id %}");
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert('Something went wrong, please try again.');
    </script>
    {% endif %}




{% endblock %}
