{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Prayag orphange</title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

  </head>
      <body>
    <header class="header">
        <a href="#"  class="logo-container">
         
            <img src= "{% static '/imageproject/logooforphnge-removebg-preview.jpg'%}"  class="img-logo" alt="logo of website">

            <a href="#index.html" class="logo-text" >Prayag Orphange</a> 
        </a>
        
     
      <nav class="navbar">
        <ul class="navbar-list">
           <li> <a class="navbar-link" href="{% url 'index' %}">Home</a></li>
            <li><a href="#about-section" class="navbar-link"> About </a></li>

          <li><a href="#gallery-container"  class="navbar-link" onclick="scrollToGallery()"> Gallery </a></li>
          <li><a href="#footer" class="navbar-link"> Contact </a></li>

          <li><a href="{% url 'all_login' %}" class="btn navbar-btn">Login</a></li>
        </ul>
      </nav>
      
      
       
      </div>
      
    </header>
</body>
</html>
