{% load static %}


<html>
<head>

</head>

<body>

{% include 'navigation.html' %}
<hr class="mt-0">

<div class="card shadow m-5" id="SignunForm">
<div class="card-body">
    <h5 class="p-2" style="border-bottom: 2px solid orange ;">Create an Account (Volunteer)</h5>
    <div class="container-fluid">
       
        <form method="post" enctype="multipart/form-data" name="signup" onsubmit="return checkpassword()">
            {% csrf_token %}    
            <div class="form-row">
            <div class="col-sm-6">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="firstname" class="form-control" placeholder="Enter your First Name" required pattern="[A-Za-z]+">
            </div>
            </div>
        
            <div class="col-sm-6">
            <div class="form-group">
                <label>Lastname Name</label>
                <input type="text"  class="form-control" name="lastname" class="form-control" placeholder="Enter Last Name" required pattern="[A-Za-z]+">
            </div>
            </div>
    
            <div class="col-sm-6">
            <div class="form-group">
                <label>Email ID</label>
                <input type="email"  class="form-control" name="email" class="form-control" placeholder="Email Address" required>
            </div>
            </div>
  
            <div class="col-sm-6">
             <div class="form-group">
                <label for="firstname">Contact</label>
                <input type="text"  class="form-control" name="contact" class="form-control" placeholder="Contact Number" required>
            </div>
            </div>
        
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="pwd" class="form-control" placeholder="Enter  password" required>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="cpwd" class="form-control" placeholder="Confirm password" required>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>User Pic</label>
                    <input type="file" name="userpic" class="form-control" required>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Id Proof PIC(AADHAR ID ,VOTER ID ,PAN CARD)</label>
                    <input type="file" name="idpic" class="form-control" required>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Address</label>
                    <textarea name="address" class="form-control" placeholder="Full Address" required></textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>About YourSelf</label>
                    <textarea name="aboutme" class="form-control" placeholder="about Yourself" required></textarea>
                </div>
            </div>


<input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">

</form>
</div>
</div>
</div>




<script>
    function checkpassword() {
  var password = document.signup.pwd.value;
  var confirmPassword = document.signup.cpwd.value;

  if (password != confirmPassword) {
      alert('Password and Confirm Password do not match');
      document.signup.cpwd.focus();
      return false;
  }

  return true;
}
  </script>

{% if error == "no" %}
    <script>
        alert('SignUp successful');
        window.location.href = "{% url 'volunteer_login' %}";
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert('Something went wrong, please try again.');
    </script>
    {% endif %}
</body>
</html>